@import "tailwindcss";

@theme {
    --color-r1: #3090CF;
    --animate-trainloading: trainloading 2s ease-in infinite;

    @keyframes trainloading {
        0% {
            /* start at parent's left */
            left: 0;
        }
        60% {
            left: 100%;
            bottom: 0;
            transform: rotate(0);
        }
        80% {
            left: 100%;
        }
        100% {
            left: 100%;
            bottom: -200px;
            transform: rotate(90deg);
        }
    }
}

/* Animation for moving trains */
@keyframes move-left {
    0% { 
        transform: translateX(0); 
        opacity: 1;
    }
    100% {
        transform: translateX(-20px); 
        opacity: 0;
    }
}
@keyframes move-down {
    0% { 
        transform: translateY(0); 
        opacity: 1;
    }
    100% {
        transform: translateY(20px); 
        opacity: 0;
    }
}
.animate-moving-left {
    animation: move-left 1.5s ease-in-out infinite;
}
.animate-moving-down {
    animation: move-down 1.5s ease-in-out infinite;
}

/* Remove styles form leaflet */
.leaflet-popup-content p {
    margin: 0 !important;
}

/* Container for the incidents alert. Animate with height */ 
.container-incidents {
    height: 80px;
    overflow: hidden;
    transition: height .3s;
    interpolate-size: allow-keywords;
}

.container-incidents:hover {
    height: auto;
}