---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<div class="mb-10">
          <h1 class="font-bold text-4xl">Tenfe - R1</h1>
          <h2 class="text-xl">Trens en temps real de la linea R1 (s'actulaitza en <span id="refreshTime">30</span>s)</h2>

          <p id="txtErrorMessage" class="hidden text-red-400">Alguna cosa ha anat malament. Torna-ho a intentar més tard.</p>
      </div>
      <div id="map" class="map-container flex-1 min-h-0 rounded-xl"></div>
</Layout>